/* レスポンシブデザイン */
@media screen and (max-width:640px) {
  body{
    max-width: auto !important;
   } 
   .head{
     height: 2rem;
   }
   .head .rogo{
     width: 1rem;
     height: 1rem;
     margin: auto 0;
   }
   .head .name{
     width: 40%;
     height: 2rem;
   }
   .swiper-container{
     width: 320px;
   }
   .swiper-container img{
    width: 340px;
    height: 234px;
  }
  .swiper-container-button-prev {
     font-size: 1px;
  }
  .swiper-container-button-next{

  }
  #nav{
    font-size: 0.5rem;
  }

  #item{
    height: 170px !important;
  }

  #item .center-item{
    height: 170px;
    width: 340px;
  }
  #item .center-item img{
    margin-top: 50%;
  }
  #item .item{
    height: 170px;
    width: 340px;
  }
#kuwano{
  margin: 0 !important;
  padding-top: 10px !important;
  width: 320px !important;
 font-size: 10px;
 line-height: 100%;
 display: block !important;
 height: fit-content !important;
 margin: 0 auto !important;
  }
#kuwano img{
  width: 100px !important;
  height: 100px !important;
}
.coment{
  display: block !important;
}
.coment p{
  width: 100% !important;
  font-size: 10px;
}
.introduction{
  display: block !important;
}
.introduction p{
  width: 100% !important;
  font-size: 10px;
}
#map{
  width: 100% !important;
  height: 150px;
  line-height: 100%;
  font-size: 1rem;
}
#map .map iframe{
  width: 150px;
  height: 150px;
}
#footer{
  font-size: 4px;
}
}

/* PC　CSS */
body{
  margin: auto;
  padding: 0;
  font-size: 16px;
  line-height: 150%;
  color: black;
  background-image: url(background1.jpeg);
  max-width: 1025px;
  text-align: center;
}

#all{
  width: 100%;
  margin: auto;
  padding: 0;
  border: 0;
}

.rogo{
  height: 60px;
  width: auto;
}

.name{
  height: 60px;
  width: auto;
}

.head{
  display: flex;
  background-color: white;
}


#header{
  width: 100%;
}

#header h1{
  margin: 0;
  padding: 0;
}



.top{
  width: 100%;
  height: auto;
}

#nav{
  width: 100%;
}

#nav ul{
 list-style: none;
 margin: 0;
 padding: 0;
}

#nav ul li{
  float: left;
  width: 25%;
  text-align: center;
  margin: 0;
  padding: 4px 0 4px 0;
  background-color: gray;
  color: white;
  font-weight: bold;
}

#kuwano{
  display: flex;
  margin: auto;
  padding: 0;
  height: 300px;
  margin-top: 50px;
  width: 80%;
  justify-content: center;
}

#kuwano img{
  border-radius: 60%;
  width: 200px;
  height: 200px;
}

.coment{
  display: flex;
  text-align: center;
  justify-content: space-around;
}


.coment p{
  width: 40%;
  text-align: center;
  margin: 0;
}

.introduction{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.introduction p{
  text-align: center;
  margin: 0;
  width: 40%;
}

h2{
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: black double 4px;
  border-bottom: black double 4px;
}


#footer{
  width: 100%;
  padding: 3px 0 3px 0;
  text-align: center;
  background-color: gray;
  margin: 0;
  border-top: solid 5px orange;
  border-bottom: solid 5px orange;
  margin-top: 20px;
  margin-bottom: 10px;
}

#item{
  width: 100%;
  display: flex;
  height: 371px;
}

.item{
  width: 33%;
  text-align: center;
  }

.cleartext{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#item1{
  width: 100%;
  height: 100%;
  background-image: url(垢の車.jpg);
  background-size: cover;
  background-position: 98%;
  background-repeat: no-repeat;
  margin: 0;
}

#item2{
  width: 100%;
  height: 100%;
  background-image: url(IMG_0760.jpg);
  background-size: cover;
}

#item3{
  width: 100%;
  height: 100%;
  background-image: url(青い車.jpg);
  background-size: cover;
  background-position: 2%;
  margin: 0;
}

.center-item{
  width: 34%;
  background-color: white;
}

.name2{
  width: 100%;
  margin: 0;
  margin-top: 150px;
}


#map{
  width: 80%;
  height: auto;
  background-image: url(桑野自動車.jpg);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  margin: auto;
  margin-top: 100px;
  color: white;
}

#map h3{
  margin: 0;
}
