body{
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(background1.jpeg);
}

h1{
  background-color: gray;
  border-top: orange double 4px;
  border-bottom: orange double 4px;
}

h2{
  padding-bottom: 30px;
  border-bottom: black double 4px;
}

#all{
  width: 1027px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

#nav{
  width: 100%;
}

#nav ul{
  list-style: none;
  display: flex;
  float: right;
}

#nav ul li{
  padding-right: 8px;
  font-size: 10px;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-right: 50px;
  margin-left: 50px;
  grid-template-rows: 400px 400px;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.item{
  /* background-color: skyblue; */
  padding: 10px;
}

.container p{
  font-size: 13px;
}

.home{
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}

